* {
    box-sizing: border-box;
    font-family: 'DM Serif Display', serif;
}

body {
    /*  viewport units: vh (viewport height), vw, vmin (smallest between vh & vw))  */
      height: 80vh;
      width: 100vw;
      background-image: url("https://scontent-dfw5-1.xx.fbcdn.net/v/t39.30808-6/296721713_8156138357737219_8402936684182766551_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=730e14&_nc_ohc=EZrxu3mDrB0AX_MHDQm&_nc_ht=scontent-dfw5-1.xx&oh=00_AfDmlGbO_2R_wwdko3U1iBuhVCLXIY0EcikxAAt10S5KbQ&oe=641A43DA");
      background-position: center center;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
      margin: 0;
      display: grid;
      grid-template-columns: 60vmin 80vmin 60vmin;
      align-items: center;
      justify-content: center;
}
#red {
    color: rgb(154, 27, 47);
}

#black {
    color: black;
}

#gold {
   color: rgb(168, 146, 98); 
}

#peach {
    color: #f6c492;
}

#maroon {
    color: rgb(93, 20, 34);
}

#mint-green {
    color: rgb(148, 227, 208);
}

#yellow {
    color: yellow;
}

#green {
    color: green;
}

col1{
     grid-column: 1/2;
     display: flex;
     align-items: center;
     flex-direction: column;
     justify-content: space-around; 
}

col1 > * {
    margin: 15vmin;
}

h1 {
    color: #f6c492;
    text-shadow: 3px 3px 4px black, 2px 2px 8px white;
    text-align: center;
    height: 20vh;
    margin: 4vmin 2vmin 2vmin 2vmin;
    font-family: 'Kaushan Script', cursive;
    font-size: xxx-large;
}

gif {
    scale: 60%;
    margin: -10vmin;
    padding: -10vmin;
}

key {
    background-color: grey;
    box-shadow: 10px 10px 5px 12px rgb(154, 27, 47);
    padding: 2vmin;
    width: 80%;
    flex-shrink: 3;
    background-image: linear-gradient(to bottom right, rgb(168, 146, 98), rgb(154, 27, 47));
    margin: 7vmin;
}

#key {
    color: rgb(174, 179, 190);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: xx-large;

}

key > * {
    color: whitesmoke;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: x-large;
}

main {
    grid-column: 2/3;
    height: 100vh;
    background-image: radial-gradient(circle, black, rgb(154, 27, 47), rgb(168, 146, 98));
    display: grid;
    grid-template-rows: repeat(6, auto);
    row-gap: 2vmin;
    padding: 3vmin;
    border-radius: 5vmin;
}

main > * {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-column: span 4;
    column-gap: 1vmin;
}

row1 {
    grid-row-start: 7;
    grid-row-end: 6;
}

row2 {
    grid-row-start: 6;
    grid-row-end: 5;   
}

row3 {
    grid-row-start: 5;
    grid-row-end: 4;
}

row4 {
    grid-row-start: 4;
    grid-row-end: 3;
}

row5 {
    grid-row-start: 3;
    grid-row-end: 2;
}

row6 {
    grid-row-start: 2;
    grid-row-end: 1;
}

div {
    border-radius: 50%;
    border: .75vmin black;
    border-style: solid;
    grid-column: span 1;
    pointer-events: none;
}

/* div:hover {
    border: .5vmin rgb(148, 227, 208);
} */

col3 {
    grid-column: 3/4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

col3 > button {
    padding: 2vmin;
    margin: 7vmin;
    font-size: xxx-large;
    box-shadow: 3px 3px 5px white;
}

#Reset {
    background-color: rgb(154, 27, 47);
    color: rgb(168, 146, 98);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-family: 'Bebas Neue', cursive;
}

#Reset:hover {
    background-color: black;
    color: rgb(154, 27, 47);
} 

#Enter {
    background-color: #f6c492;
    color: whitesmoke;
    font-family: 'Bebas Neue', cursive;
}

#Enter:hover {
    background-color: white;
    color: #f6c492;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#winningcombo {
    color: red;
    border-radius: revert;
    border: revert;
    font-size: x-large;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    padding: 1vmin;
    margin: 1vmin;
    background-color: rgba(174, 179, 190, .5);
    border-radius: 3vmin;
    visibility: hidden;
}

#howtodisplay {
    padding: 1vmin;
    margin: 2vmin;
    font-size: large;
    color: white;
    background-color: rgb(25, 55, 45);
    font-family: 'Bebas Neue', cursive;
    font-size: x-large;
}

#howtodisplay:hover {
    background-color: rgb(148, 227, 208);
    color: black;
}

#howto {
    scale: 90%;
    color: white;
    background-color: rgb(25, 55, 45);
    padding: 2vmin;
    visibility: hidden;
    border-radius: revert;
    border: .5vmin whitesmoke;
    border-style: solid;
    pointer-events: revert;
    font-family: 'DM Serif Display', serif;
    margin: 0vmin;
}

#howto > * {
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#close {
    background-color: rgb(148, 227, 208);
    visibility: hidden;
    padding: 1vmin;
    margin: 0vmin;
    font-size: large;
    color: white;
}

#close:hover {
    background-color: rgb(25, 55, 45);
    color: white;
}

.blink-bg-win {
    animation: blinkingBackground 2s infinite;
}

@keyframes blinkingBackground {
    0% {box-shadow: 0 0 3vmin white;}
    50% {box-shadow: 0 0 5vmin rgb(148, 227, 208);}   
}