* {
    box-sizing: border-box;
    font-family: 'DM Serif Display', serif;
}

body {
    /*  viewport units: vh (viewport height), vw, vmin (smallest between vh & vw))  */
      height: 80vh;
      width: 100vw;
      background-image: url("https://images.mlssoccer.com/image/private/t_q-best/mls-atl-prd/d4h7njugi4zozorjkcsl.jpg");
      background-position: center center;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
      margin: 0;
      display: grid;
      grid-template-columns: 30vw 45vw 30vw;
      align-items: center;
      justify-content: center;
}

#red {
    color: rgb(154, 27, 47);
}

#black {
    color: black;
}

#gold {
   color: rgb(168, 146, 98); 
}

#peach {
    color: #f6c492;
}

#maroon {
    color: rgb(93, 20, 34);
}

#mint-green {
    color: rgb(148, 227, 208);
}

#yellow {
    color: yellow;
}

#green {
    color: green;
}

col1{
     grid-column: 1/2;
     display: flex;
     width: 25vw;
     align-items: center;
     flex-direction: column;
     justify-content: space-around; 
}

h1 {
    color: #f6c492;
    text-shadow: 3px 3px 4px black, 2px 2px 8px white;
    text-align: center;
    height: 20vh;
    margin: 4vmin 2vmin 2vmin 2vmin;
    font-family: 'Kaushan Script', cursive;
    font-size: xxx-large;
}

gif {
    scale: 60%;
    margin: -10vmin;
    padding: -10vmin;
}

key {
    background-color: grey;
    box-shadow: 10px 10px 5px 12px rgb(154, 27, 47);
    padding: 2vmin;
    width: 80%;
    flex-shrink: 3;
    background-image: linear-gradient(to bottom right, rgb(168, 146, 98), rgb(154, 27, 47));
    margin: 7vmin;
}

#key {
    color: rgb(174, 179, 190);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: xx-large;

}

key > * {
    color: whitesmoke;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: x-large;
}

main {
    grid-column: 2/3;
    height: 100vh;
    background-image: radial-gradient(circle, black, rgb(154, 27, 47), rgb(168, 146, 98));
    display: grid;
    grid-template-rows: repeat(6, auto);
    row-gap: 2vmin;
    padding: 3vmin;
    border-radius: 5vmin;
}

main > * {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-column: span 4;
    column-gap: 1vmin;
}

row1 {
    grid-row-start: 7;
    grid-row-end: 6;
}

row2 {
    grid-row-start: 6;
    grid-row-end: 5;   
}

row3 {
    grid-row-start: 5;
    grid-row-end: 4;
}

row4 {
    grid-row-start: 4;
    grid-row-end: 3;
}

row5 {
    grid-row-start: 3;
    grid-row-end: 2;
}

row6 {
    grid-row-start: 2;
    grid-row-end: 1;
}

div {
    border-radius: 50%;
    text-align: center;
    border: .75vmin black;
    border-style: solid;
    grid-column: span 1;
    pointer-events: none;
    
}

col3 {
    grid-column: 3/4;
    display: flex;
    width: 29vw;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}


col3 > button {
    padding: 2vmin;
    margin: 4vmin;
    font-size: xxx-large;
    box-shadow: 3px 3px 5px white;
}

#Reset {
    background-color: rgb(154, 27, 47);
    color: rgb(168, 146, 98);
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-family: 'Bebas Neue', cursive;
    margin-bottom: 5vmin;
}

#Reset:hover {
    background-color: black;
    color: rgb(154, 27, 47);
} 

#Enter {
    background-color: #f6c492;
    color: whitesmoke;
    font-family: 'Bebas Neue', cursive;
}

#Enter:hover {
    background-color: white;
    color: #f6c492;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#winningcombo {
    color: red;
    border-radius: revert;
    border: revert;
    font-size: x-large;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    padding: 1vmin;
    margin: 1vmin;
    background-color: rgba(174, 179, 190, .8);
    border-radius: 3vmin;
    visibility: hidden;
}

#howtodisplay {
    padding: 1vmin;
    margin: 2vmin;
    font-size: large;
    color: white;
    background-color: rgb(25, 55, 45);
    font-family: 'Bebas Neue', cursive;
    font-size: x-large;
}

#howtodisplay:hover {
    background-color: rgb(148, 227, 208);
    color: black;
}

#howto {
    scale: 80%;
    color: white;
    background-color: rgb(25, 55, 45);
    padding: 2vmin;
    visibility: hidden;
    border-radius: 1vmin;
    border: .5vmin whitesmoke;
    border-style: solid;
    pointer-events: revert;
    margin: 0vmin;
    font-family: Sherwood, sans-serif;
    font-size: large;
}

#howto > * {
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-size: large;
}

#close {
    background-color: rgb(148, 227, 208);
    visibility: hidden;
    padding: 1vmin;
    margin: 0vmin;
    font-size: large;
    color: white;
}

#close:hover {
    background-color: rgb(25, 55, 45);
    color: white;
}

.blink-bg-win {
    animation: blinkingBackground 2s infinite;
}

@keyframes blinkingBackground {
    0% {box-shadow: 0 0 3vmin white;}
    50% {box-shadow: 0 0 5vmin rgb(148, 227, 208);}   
}